# MongoDB Atlas
MONGODB_URI=mongodb+srv://divyanshivashistha_db_user:<q1CPM8b3WF903Ip0>@cluster0.evldcnb.mongodb.net/?appName=Cluster0
# NextAuth
NEXTAUTH_SECRET=zNgnJfjPYdiWYjOnNqzN2OmFca5CFCoNl5BSLcIByQQ=
NEXTAUTH_URL=http://localhost:3000

# Production (set in Vercel)
# NEXTAUTH_URL=https://your-app.vercel.app
